<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ReadMyStory.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC2BE0B11C5BB83B00C3B8CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC2BE0C81C5BB83C00C3B8CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC2BE0D31C5BB83C00C3B8CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
